.slider {
  margin: 5px 20px;
}

.slider .slick-list {
  overflow: visible;
}
.slider li.slick-active button::before {
  color: white;
}
.slider button {
  z-index: 1;
}
ul li button:before {
  font-size: 10px;
  color: rgb(150, 158, 171);
}

.wraper {
  cursor: pointer;
}
.wraper img {
  border: 4px solid transparent;
  width: 100%;
  height: 50vh;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 /69%) 0px 26px 30px -10px,
    rgb(0 0 0 /73%) 0px 16px 10px -10px;
  transition-duration: 300ms;
  object-fit: cover;
}
.wraper img:hover {
  border: 4px solid rgba(249, 249, 249, 0.8);
}
