.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  margin: 1rem;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
.products:hover {
  transform: scale(1.03);
}

.products h3 {
  margin: 0 0 0.25rem 0;
  text-align: center;

  /* font-size: 15px; */
}

.description {
  font-style: italic;
  text-align: center;
  min-height: 46.4px;
  padding: 4px;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #001f2e;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}
img {
  width: 100%;
  height: 200px;
  box-shadow: 0 8px 6px -6px black;
  border-radius: 10px;
}
