.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #007cb6;
  border: 1px solid #007cb6;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 5px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: transparent;
  border-color: #007cb6;
  color: black;
}
.warningText {
  position: absolute;
  bottom: -16px;
  color: red;
}
